.projectHeadLink {
    text-decoration: none;
  }
  
  .projectSubHead {
    margin-top: 10px;
    display: flex;
    text-align: left;
    align-items: center;
  }
  
  .projectLink {
    text-decoration: none;
    border-bottom: solid 1px;
    border-color: rgb(255, 255, 255);
  }
  
  .projectBody {
    margin-top: 30px;
    align-items: center;
    text-align: justify;
  }

  
.w100{
    font-weight: 100;
}

.w200{
    font-weight: 200;
}

.w300{
    font-weight: 300;
}