.rotate-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-90deg); /* Rotate 90 degrees counterclockwise */
    }
    100% {
        transform: rotate(-90deg); /* Pause at 90 degrees */
    }
}

/* Apply the animation */
#phoneIcon {
    animation: rotateIcon 2s linear infinite;
}
